
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    background-image: url("assets/images/fondospìner.jpg");
    
}

img {
    margin-top: 10px;
    width: 250px;    
    height: 220px; 
    transition: transform 0.5s ease; /* Transición para la rotación */

}

h1 {
    color:aliceblue;
    margin-top: 20px;
    padding: 10px; 
    text-align: center;
    text-shadow: 2px 2px 4px rgb(255, 37, 157); 

    
}


.button-spinner{
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    width: 80px;
    height: 30px;
    border-radius: 12px;
    border-color: rgba(213, 36, 236, 0.863);
    background-color: rgb(218, 42, 188);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin-top: 15px;
    box-shadow: 3px 3px 8px rgb(87, 7, 161);
}

#start-button{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    border-radius: 12px;
    border-color: rgba(231, 50, 255, 0.863);
    background-color: rgb(218, 42, 188);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    box-shadow: 3px 3px 8px rgb(102, 68, 255);
}



#contenido-juego {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

footer {
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px; 
    width: 100%;
    position: absolute;
    bottom: 0;
}